{% extends "base.html" %}
{% load bulma_tags %}
{% block title %}Login{% endblock%}
{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
          <h2 class="title">Login</h2>
          <hr>
          {% if form.errors %}
          <p>Your email and password didn't match. Please try again.</p>
          {% endif %}

          <form method="post">
            {% csrf_token %}
            {{ form|bulma }}
            <br>
            <div class="field">
              <p class="control">
                <button class="button is-primary is-medium is-fullwidth" type="submit">
                Login
                </button>
              </p>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}