{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_admin %}
  Hi {{ user.email }}!
  {{user.get_user_type_display}} 
  <p><a href="{% url 'logout' %}">logout</a></p>
{% elif user.is_authenticated and user.is_company %}
  <h2 class="title">Employees <a href="/add-employee/" class="button is-primary">Add</a> or <a href="/invite-employee/" class="button is-primary">Invite</a></h2>
  <table class="table" id="employee_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Team</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="employee_tbody">
        
        {% for employee in users %}
        <tr>
        <td>{{employee.name}}</td>
        <td>{{employee.email}} </td>
        <td></td>
        <td><a href="/remove-employee/{{employee.id}}/">Remove</a></td>
        </tr>
        {% empty %}
        <td>No employee yet. <a href="/add-employee/">Add Employee</a></td>
        {% endfor %}
      </tbody>
    </table>
    <h2 class="subtitle">Employee Invites</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
          {% for invite in invites %}
          <tr>
          <td>{{invite.email}}</td>
          <td><a href="/invite-employee/{{invite.token}}/">Invite URL</a></td>
          </tr>
          {% empty %}
          <td>No employee yet. <a href="/invite-employee/">Invite Employee</a></td>
          {% endfor %}
        </tbody>
      </table>

{% elif user.is_authenticated and user.is_employee %}
    <p><strong>Name:</strong> {{user.name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <br>
    <a href="/edit-profile/" class="button is-primary">Edit Profile</a>
{% else %}
  <h2 class="subtitle">You are not logged in</h2>
  <a href="{% url 'login' %}" class="button is-primary">Login</a>
{% endif %}
{% endblock %}