{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_admin %}
  Hi {{ user.email }}!
  {{user.get_user_type_display}} 
  <p><a href="{% url 'logout' %}">logout</a></p>
{% elif user.is_authenticated and user.is_company %}
  Hi {{ user.email }}!
  {{user.get_user_type_display}}  1
  <p><a href="{% url 'logout' %}">logout</a></p>

  {% for employee in users %}
  <li>{{employee.email}}</li>
{% empty %}
  No employee yet. <a href="/add-employee">Add Employee</a>
{% endfor %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}