{% extends 'base.html' %}
{% load bulma_tags %}
{% block title %}Add Employee{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_company %}
  <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="title">Add Employee</h2>
              <hr>
              <form method="post">
                {% csrf_token %}
                {{ form|bulma }}
                <br>
                <div class="field">
                  <p class="control">
                    <button class="button is-primary is-medium is-fullwidth" type="submit">
                    Submit
                    </button>
                  </p>
                </div>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}
{% endblock %}